
.idea/
.vscode/
__pycache__/
.DS_Store
*.sh
sh/
*.mha
*.csv
*.npy
jobs/
log/
*.h5
data/
submission/data
*.tar
md5sums.txt
*.zip
check_ddfs.py
saved_ddf_1_method/
saved_ddf_3_methods/
results/










