
.idea/
.vscode/
__pycache__/
.DS_Store
*.sh
sh/
*.mha
*.csv
*.npy
jobs/
log/
*.h5
data/
submission/data
*.tar
md5sums.txt
*.zip
check_ddfs.py
video_plot/
saved_ddf_1_method/
saved_ddf_3_methods/

results/*
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point
results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/*
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/config.txt
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/data_pairs.json
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/fold_00.json
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/fold_01.json
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/fold_02.json
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/fold_03.json
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/fold_04.json
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/saved_model/
results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/saved_model/*
!results/seq_len2__efficientnet_b1__lr0.0001__pred_type_parameter__label_type_point/saved_model/best_validation_dist_model












